[update_manager reprapfirmware-obico]
type: git_repo
path: ~/reprapfirmware-obico
origin: https://github.com/sindarius/reprapfirmware-obico.git
env: ~/reprapfirmware-obico-env/bin/python
requirements: requirements.txt
install_script: install.sh
managed_services:
  reprapfirmware-obico

